@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  background-color: gainsboro;
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

/* TODO: Gotta be honest, im not really sure whats going on with the css in this project/ how to config it
  i previously thought it was globally styled (react default, i beleive), now it seems that components
  get their style from a matching css file in directory with the same file name w/ css extension

  need to figure out what this is. how to configure it, because its very non helpful for styling based
  dev tasks. for now Im just throwing shit in here 
 */

 nav {
  display: flex;
  flex-direction: row;
  /* flex-wrap: flex-; */
  justify-content: space-between;
  align-items: center;
  background: var(--error);
  height: 5vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

 nav div {
   list-style: none;
   background: var(--primary);
   border: 4px groove var(--secondary);
   margin: 0.5em;
   padding: 1rem;
   
 }
