/* Not at all certain how/ why this happens, but styles we applied to photo 
are having an effect on styles in this sub directory. weird. so im defaulting these to override that unexpected behaivor*/

form{
    inherits: false;
  }
  label input{
   inherits: false;
  }
  label{
      inherits: false;
  }
  label:hover{
    inherits: false;
  }
  .output{
    height: 60px;
    font-size: 0.8rem;
  }
  .error{
    color: var(--error);
  }